@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Oregano);
article, section, aside, nav, header, footer, figure, figcaption {
  display: block; }

html {
  color: #787878;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  background: #ececec;
  font-family: "Source Sans Pro", Helvetica, sans-serif; }

a:active,
a:hover {
  outline: 0; }

aside {
  width: 242px; }

h1, h2, h3, h4 {
  margin: 0px; }

.is-left {
  float: left; }

.is-right {
  float: right; }

header {
  background: #4d7496;
  height: 50px; }
  header a:hover, header a:active {
    color: #a0c7e9; }

.header-logo {
  border-right: 1px solid #3d5c78;
  padding: 9px 0px; }

.header-logo h1 {
  font-family: "Oregano";
  color: #FFFFFF;
  font-size: 18px;
  line-height: 30px;
  margin-left: 48px; }

.header-logo a {
  float: right;
  margin-right: 15px;
  font-size: 22px;
  color: #FFFFFF; }

.header-logo > * {
  display: inline-block; }

.top-nav {
  float: right; }
  .top-nav ul {
    margin: 0px;
    list-style: none;
    padding: 0px; }
  .top-nav li {
    display: inline-block;
    vertical-align: top; }
  .top-nav a {
    display: block;
    padding: 12px 15px 8px;
    text-decoration: none;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    position: relative;
    border-left: 1px solid #3d5c78; }
  .top-nav .user-action a {
    font-size: 14px;
    font-weight: 600;
    line-height: 30px; }
  .top-nav .user-action a i {
    vertical-align: middle;
    margin-left: 5px;
    margin-top: -5px; }
  .top-nav span.badge {
    position: absolute;
    top: 5px;
    right: 50%;
    margin-right: -17px;
    font-size: 12px; }

.badge {
  padding: 2px 5px; }

.badge-red {
  background-color: #e06d6a; }

.left-panel {
  margin-right: 10px;
  float: left; }

.box-panel {
  background-color: #f9f9f9;
  margin-top: 10px;
  border: 1px solid #d1d1d1; }
  .box-panel nav ul {
    list-style: none;
    margin: 0px;
    padding: 0px; }
  .box-panel nav a {
    display: block;
    padding: 15px;
    padding-left: 45px;
    text-transform: uppercase;
    border-bottom: 1px solid #ebebeb;
    color: #787878;
    position: relative;
    border-right: 2px solid transparent; }
  .box-panel nav a i.arrows {
    position: absolute;
    top: 20px;
    right: 10px;
    font-size: 12px; }
  .box-panel nav a i.menu-sign {
    position: absolute;
    top: 17px;
    left: 15px;
    font-size: 18px; }
  .box-panel nav a.active {
    background: #FFFFFF;
    border-right: 2px solid #4d7496; }
  .box-panel nav a:hover {
    text-decoration: none;
    background: #ececec;
    color: #656565; }
  .box-panel nav .badge.mails-new {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    padding: 5px;
    position: absolute;
    top: 15px;
    right: 70px;
    font-size: 12px; }

.user-profile {
  margin: 15px; }

.user_profile-picture {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  border: 6px solid #E7E7E7;
  height: 75px;
  width: 75px;
  display: inline-block;
  overflow: hidden;
  background: no-repeat center;
  background-size: cover;
  vertical-align: middle;
  margin: 0; }

.welcome {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  padding-left: 5px; }
  .welcome span.user {
    font-weight: 600; }
  .welcome .status {
    line-height: 16px;
    padding-left: 5px;
    font-size: 12px; }

.status span:before {
  content: " ";
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

.status.Away span:before, .TechSupport span.Away {
  background-color: #f0b502; }

.status.Online span:before, .TechSupport span.Online {
  background-color: #0f724a; }

.status.Offline span:before, .TechSupport span.Offline {
  background-color: #c51010; }

.search-panel {
  margin: 15px;
  position: relative; }
  .search-panel input {
    width: 100%;
    background: transparent;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px; }
  .search-panel input::-webkit-input-placeholder {
    font-style: italic; }
  .search-panel input::-moz-placeholder {
    font-style: italic; }
  .search-panel input:-moz-placeholder {
    font-style: italic; }
  .search-panel input:-ms-input-placeholder {
    font-style: italic; }
  .search-panel .icon-search {
    position: absolute;
    top: 0px;
    right: 0px;
    color: #bfbfbf;
    font-size: 18px; }

.block {
  padding: 15px;
  border-bottom: 1px solid #d1d1d1; }
  .block h2 {
    font-size: 14px; }

.system-chart-block {
  position: relative; }
  .system-chart-block .system-chart {
    width: 80%;
    margin: auto;
    height: 130px; }
  .system-chart-block .system-load-res {
    position: absolute;
    top: 53px;
    left: 50%;
    color: #4d7496;
    font-size: 24px;
    font-weight: bold;
    margin-left: -20px; }
  .system-chart-block .system-chart-legend {
    font-size: 12px;
    text-align: center; }

.block-notitle {
  padding: 10px 40px; }

.progress-bar-legend {
  font-size: 12px;
  margin-bottom: 4px; }

.progress {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  height: 13px;
  margin-bottom: 5px; }

.progress-bar.result-storage {
  background-color: #d40d12; }

.progress-bar.result-bandwidth {
  background-color: #49bf67; }

footer {
  padding: 50px 15px;
  font-size: 12px;
  clear: both;
  text-align: right; }

section {
  margin-left: 252px; }
  section h2 {
    font-size: 14px;
    color: #787878;
    padding: 20px 30px; }
  section h2.dashboard-title i {
    font-size: 24px;
    margin-right: 5px; }
  section h2.todoList {
    font-size: 28px;
    color: #555555;
    text-align: center; }
  section .comment {
    text-align: center;
    font-size: 12px;
    color: #a7a7a7; }

.panel-white {
  padding: 17px 0px 18px 0px;
  background: #FFFFFF;
  border: 1px solid #dbdbdb; }
  .panel-white .dash-box {
    min-width: 125px;
    width: 25%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    display: table-cell; }
    .panel-white .dash-box h3 {
      padding: 15px 15px 0px;
      font-size: 14px;
      text-transform: uppercase; }
    .panel-white .dash-box span {
      padding: 0px 13px 5px;
      margin: 0px 2px;
      font-size: 20px;
      border-bottom: 1px solid #175a6b;
      position: relative;
      z-index: 10;
      color: #f9f9f9; }
    .panel-white .dash-box span:before {
      content: "";
      display: block;
      position: absolute;
      z-index: -1;
      left: 0px;
      bottom: -1px;
      border-bottom: 1px solid #f9f9f9;
      width: 70px; }
    .panel-white .dash-box a {
      padding: 4px 15px; }
  .panel-white .dash-box > * {
    display: block; }
  .panel-white .dash-box.new-book {
    background-color: #6dadbd; }
    .panel-white .dash-box.new-book h3, .panel-white .dash-box.new-book a {
      color: #a7dfed; }
  .panel-white .dash-box.profit {
    background-color: #348fe2; }
    .panel-white .dash-box.profit h3, .panel-white .dash-box.profit a {
      color: #9dc9f1; }
  .panel-white .dash-box.visitors {
    background-color: #857198; }
    .panel-white .dash-box.visitors h3, .panel-white .dash-box.visitors a {
      color: #bfa9d4; }
  .panel-white .dash-box.page-views {
    background-color: #4d7496; }
    .panel-white .dash-box.page-views h3, .panel-white .dash-box.page-views a {
      color: #88b4da; }

.fileUpload .result-upload {
  background: #49bf67; }

.fileUpload .progress {
  width: 235px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

.fileUpload > div {
  font-size: 12px;
  padding: 6px 25px 7px;
  border-bottom: 1px solid #dbdbdb;
  position: relative; }
  .fileUpload > div span {
    font-size: 10px;
    display: block;
    margin: 5px 0px; }
  .fileUpload > div i {
    position: absolute;
    font-size: 14px;
    top: 8px;
    left: 8px; }

.fileUpload > div:last-child {
  border-bottom: 0px; }

.browsersInfo table {
  width: 100%;
  font-size: 12px;
  border-collapse: collapse;
  border-style: hidden; }
  .browsersInfo table th, .browsersInfo table td {
    border: 1px solid #dbdbdb;
    padding: 3px;
    text-align: center; }
  .browsersInfo table th {
    padding: 4px; }

.TechSupport td {
  padding: 5px;
  border-bottom: 1px solid #dbdbdb;
  font-size: 12px;
  line-height: 18px;
  min-height: 40px;
  position: relative; }
  .TechSupport td img {
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    float: left; }
  .TechSupport td span {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    position: absolute;
    top: 3px;
    right: 3px;
    border: 2px solid #FFFFFF; }

.TechSupport tr:nth-child(even) {
  background-color: #f9f9f9; }

.TechSupport tr:last-child td {
  border-bottom: 0px; }

.panel-collapse {
  padding: 15px 0px;
  position: relative; }
  .panel-collapse .show-table {
    display: table-cell; }
  .panel-collapse .show-table3 {
    width: 33.3%; }

.panel-block {
  min-width: 125px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #dbdbdb;
  background: #FFFFFF; }

.panel-header {
  padding: 5px 10px;
  border-bottom: 1px solid #dbdbdb; }
  .panel-header a {
    color: #787878;
    margin-left: 3px;
    font-size: 11px;
    margin-top: 3px;
    font-weight: 100; }

.panel-content {
  min-height: 130px; }

.table-view {
  display: table;
  border-spacing: 30px 0px;
  width: 100%; }

.half-size {
  display: inline-block;
  width: 49%; }

.chart-visitors {
  margin: 0px 30px 40px; }
  .chart-visitors .panel-white {
    padding: 0px; }

.chart-block {
  width: 100%;
  height: 320px; }

.chart-traffic {
  width: 100%;
  height: 320px; }
