@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Oregano);
article, section, aside, hgroup, nav, header, footer, figure, figcaption {
  display: block; }

html {
  color: #787878;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  background: #ececec;
  font-family: "Source Sans Pro", Helvetica, sans-serif; }

a:active,
a:hover {
  outline: 0; }

aside {
  width: 242px; }

h1, h2, h3, h4 {
  margin: 0px; }

.is-left {
  float: left; }

header {
  background: #4d7496;
  height: 50px; }
  header a:hover, header a:active {
    color: #a0c7e9; }

.header-logo {
  border-right: 1px solid #3d5c78;
  padding: 9px 0px; }

.header-logo h1 {
  font-family: "Oregano";
  color: #FFFFFF;
  font-size: 18px;
  line-height: 30px;
  margin-left: 48px; }

.header-logo a {
  float: right;
  margin-right: 15px;
  font-size: 22px;
  color: #FFFFFF; }

.header-logo > * {
  display: inline-block; }

.top-nav {
  float: right; }
  .top-nav ul {
    margin: 0px;
    list-style: none;
    padding: 0px; }
  .top-nav li {
    display: inline-block;
    vertical-align: top; }
  .top-nav a {
    display: block;
    padding: 12px 15px 8px;
    text-decoration: none;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    position: relative;
    border-left: 1px solid #3d5c78; }
  .top-nav .user-action a {
    font-size: 14px;
    font-weight: 600;
    line-height: 30px; }
  .top-nav .user-action a i {
    vertical-align: middle;
    margin-left: 5px;
    margin-top: -5px; }
  .top-nav span.badge {
    position: absolute;
    top: 5px;
    right: 50%;
    margin-right: -17px;
    font-size: 12px; }

.badge {
  padding: 2px 5px; }

.badge-red {
  background-color: #e06d6a; }

.left-panel {
  margin-right: 10px;
  float: left; }

.box-panel {
  background-color: #f9f9f9;
  margin-top: 10px;
  border: 1px solid #d1d1d1; }
  .box-panel nav ul {
    list-style: none;
    margin: 0px;
    padding: 0px; }
  .box-panel nav a {
    display: block;
    padding: 15px;
    padding-left: 45px;
    text-transform: uppercase;
    border-bottom: 1px solid #ebebeb;
    color: #787878;
    position: relative;
    border-right: 2px solid transparent; }
  .box-panel nav a i.arrows {
    position: absolute;
    top: 20px;
    right: 10px;
    font-size: 12px; }
  .box-panel nav a i.menu-sign {
    position: absolute;
    top: 17px;
    left: 15px;
    font-size: 18px; }
  .box-panel nav a.active {
    background: #FFFFFF;
    border-right: 2px solid #4d7496; }
  .box-panel nav a:hover {
    text-decoration: none;
    background: #ececec;
    color: #656565; }

.user-profile {
  margin: 15px; }

.user_profile-picture {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  border: 6px solid #E7E7E7;
  height: 75px;
  width: 75px;
  display: inline-block;
  overflow: hidden;
  background: no-repeat center;
  background-size: cover;
  vertical-align: middle;
  margin: 0; }

.welcome {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  padding-left: 5px; }
  .welcome span.user {
    font-weight: 600; }
  .welcome .status {
    line-height: 16px;
    padding-left: 5px;
    font-size: 12px; }
  .welcome .status span:before {
    content: " ";
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }
  .welcome .status.Away span:before {
    background-color: #f0b502; }
  .welcome .status.Online span:before {
    background-color: #0f724a; }
  .welcome .status.Offline span:before {
    background-color: #c51010; }

.search-panel {
  margin: 15px;
  position: relative; }
  .search-panel input {
    width: 100%;
    background: transparent;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px; }
  .search-panel input::-webkit-input-placeholder {
    font-style: italic; }
  .search-panel input::-moz-placeholder {
    font-style: italic; }
  .search-panel input:-moz-placeholder {
    font-style: italic; }
  .search-panel input:-ms-input-placeholder {
    font-style: italic; }
  .search-panel .icon-search {
    position: absolute;
    top: 0px;
    right: 0px;
    color: #bfbfbf;
    font-size: 18px; }

.block {
  padding: 15px;
  border-bottom: 1px solid #d1d1d1; }
  .block h2 {
    font-size: 14px; }

.system-chart-block {
  position: relative; }
  .system-chart-block .system-chart {
    width: 80%;
    margin: auto;
    height: 130px; }
  .system-chart-block .system-load-res {
    position: absolute;
    top: 53px;
    left: 50%;
    color: #4d7496;
    font-size: 24px;
    font-weight: bold;
    margin-left: -20px; }
  .system-chart-block .system-chart-legend {
    font-size: 12px;
    text-align: center; }

.block-notitle {
  padding: 10px 40px; }

.progress-bar-legend {
  font-size: 12px;
  margin-bottom: 4px; }

.progress {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  height: 13px;
  margin-bottom: 5px; }

.progress-bar.result-storage {
  background-color: #d40d12; }

.progress-bar.result-bandwidth {
  background-color: #49bf67; }

footer {
  padding: 50px 15px;
  font-size: 12px;
  clear: both;
  text-align: right; }
