@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Oregano);

$font-regular: 'Source Sans Pro', Helvetica, sans-serif;
$font-spec: 'Oregano';
$primary-color: #787878;
$top-color: #FFFFFF;
$darkbg-color: #4d7496;
$red-color: #e06d6a;
$left-panel-width: 242px;
$from-left:48px;
$st-margin:15px;
$top-panel-border:1px solid #3d5c78;
$top-panel-border-sm:1px solid #FFFFFF;
$panel-bg:#f9f9f9;
$panel-margin:10px;
$panel-border: 1px solid #d1d1d1;
$collapse-panel-border:1px solid #dbdbdb;
$border-spacing-normal:30px;
$border-spacing-sm:10px;
$break-small: 540px;
$break-large: 930px;


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
