@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Oregano);

$font-regular: 'Source Sans Pro', Helvetica, sans-serif;
$font-spec: 'Oregano';
$primary-color: #787878;
$top-color: #FFFFFF;
$darkbg-color: #4d7496;
$left-panel-width: 242px;
$from-left:48px;
