@import "_variables";

article, section, aside, nav, header, footer, figure, figcaption {
  display: block;
}
html {
  color: $primary-color;
  font-family: $font-regular;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

}
body {
  margin: 0;
  background:#ececec;
  font-family: $font-regular;
}
a:active,
a:hover {
  outline: 0;
}
aside
{
  width:$left-panel-width;
  float:left;
  @media screen and (max-width: $break-small) {
    float:none;
    width:auto;
  }
}
h1, h2, h3, h4 {
  margin:0px;
}
.is-left {
  float:left;
}
.is-right {
  float:right;
}
header {
  background:#4d7496;
  height:50px;
  @media screen and (max-width: $break-small) {
    height:auto;
  }

  a:hover, a:active{color:#a0c7e9}
}
.header-logo {
  border-right: $top-panel-border;
  padding:9px 0px;
}
.header-logo {
  h1 {
    font-family: $font-spec;
    color: $top-color;
    font-size:18px;
    line-height: 30px;
    margin-left:$from-left;
    @media screen and (max-width: $break-small) {
    margin-left:15px;
  }
  }
  a{
    float:right;
    margin-right:$st-margin;
    font-size:22px;
    color:$top-color;
  }
}
.header-logo > * {
  display: inline-block;
}
.top-nav
{
  float:right;
  @media screen and (max-width: $break-small) {
    float:none;
    width:auto;
    text-align: right;
    background: #4d5e6d;
  }
  ul {
    margin:0px;
    list-style: none;
    padding:0px;
  }
  li {
    display: inline-block;
    vertical-align: top;
  }
  a {
    display: block;
    padding: 12px 15px 8px;
    text-decoration: none;
    font-size:20px;
    line-height:30px;
    color:$top-color;
    position:relative;
    border-left:$top-panel-border;

    @media screen and (max-width: $break-small) {
    padding: 5px 15px;
      border-left:$top-panel-border-sm;
  }
  }
  .user-action a {
    font-size:14px;
    font-weight:600;
    line-height:30px;
  }
  .topnavUser{
    position:absolute;
    background: #4d5e6d;
    width:110px;
    right:15px;
    @media screen and (max-width: $break-small) {
      right:5px;
    }
    li{display: block;}
    a{
      border-bottom:1px solid $darkbg-color;
      text-align: left;

      padding:5px;
    }

  }
  .user-action a i {
    vertical-align:middle;
    margin-left:5px;
    margin-top: -5px;
  }
  .user-action a i.fa-sort-up{
    margin-top: 5px;
  }
  span.badge {
    position:absolute;
    top:5px;
    right:50%;
    margin-right:-17px;
    font-size:12px;
  }
}
.badge {
  padding:2px 5px;
}
.badge-red {
  background-color: $red-color;
}
.left-panel {
  margin-right: $panel-margin;
  float:left;
  @media screen and (max-width: $break-small) {
    float:none;
    margin:10px;
    display: none;
  }
}
.box-panel {
  background-color: $panel-bg;
  margin-top: $panel-margin;

  border: $panel-border;

  nav {
    ul {
      list-style: none;
      margin: 0px;
      padding: 0px;
    }
    a {
      display: block;
      padding:$st-margin;
      padding-left:45px;
      text-transform: uppercase;
      border-bottom:1px solid #ebebeb;
      color:$primary-color;
      position: relative;
      border-right:2px solid transparent;
    }
    ul.subitems {
      a{
        padding:10px 10px 10px 55px;
        background:#f2f2f2;
        border-bottom:1px solid #cccccc;
      }

    }
    a i.arrows {
      position: absolute;
      top:20px;
      right:10px;
      font-size:12px;
    }
    a i.menu-sign
    {
      position: absolute;
      top:17px;
      left:15px;
      font-size:18px;
    }
    a.active {
      background:#FFFFFF;
      border-right:2px solid $darkbg-color;
    }
    a:hover {
      text-decoration: none;
      background: #ececec;
      color:#656565;
    }
    .badge.mails-new
    {
      @include border-radius(3px);
      padding:5px;
      position:absolute;
      top:15px;
      right:70px;
      font-size:12px;

    }
  }
}
.user-profile {
  margin:$st-margin;
}
.user_profile-picture {
  @include border-radius(50%);
  border: 6px solid #E7E7E7;
  height: 75px;
  width: 75px;
  display: inline-block;
  overflow: hidden;
  background: no-repeat center;
  background-size: cover;
  vertical-align: middle;
  margin: 0;
}
.welcome {
  display: inline-block;
  font-size:16px;
  vertical-align:middle;
  padding-left:5px;

  span.user {
    font-weight: 600;
  }
  .status {
    line-height:16px;
    padding-left: 5px;
    font-size: 12px;
  }


}
.status span:before  {
  content: " ";
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right:5px;
  @include border-radius(5px);
}
.status.Away span:before, .TechSupport span.Away {
  background-color: #f0b502;
}
.status.Online span:before, .TechSupport span.Online {
  background-color: #0f724a;
}
.status.Offline span:before, .TechSupport span.Offline {
  background-color: #c51010;
}
.search-panel {
  margin: $st-margin;
  position: relative;

  input {
    width: 100%;
    background: transparent;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
  }
    input::-webkit-input-placeholder {font-style:italic;}
    input::-moz-placeholder          {font-style:italic;}
    input:-moz-placeholder           {font-style:italic;}
    input:-ms-input-placeholder      {font-style:italic;}
  .icon-search {
    position: absolute;
    top: 0px;
    right: 0px;
    color: #bfbfbf;
    font-size:18px;

  }
}
.block {
  padding:$st-margin;
  border-bottom: $panel-border;
  h2 {
   font-size:14px;
 }
}
.system-chart-block {
  position:relative;
width:auto;
  .system-chart {
    width:80%;
    margin:auto;
    height: 130px;
  }
  .system-load-res {
    position: absolute;
    top: 53px;
    left:50%;
    color: $darkbg-color;
    font-size:24px;
    font-weight:bold;
    margin-left:-20px;
  }
  .system-chart-legend {
    font-size:12px;
    text-align:center;
  }
}
.block-notitle {
  padding:10px 40px;
}
.progress-bar-legend {
  font-size:12px;
  margin-bottom:4px;
}
.progress {
  @include border-radius(0px);
  height:13px;
  margin-bottom:5px;
}
.progress-bar.result-storage {
  background-color: #d40d12;
}
.progress-bar.result-bandwidth {
  background-color: #49bf67;
}




footer {
  padding:50px 15px;
  font-size:12px;
  clear: both;
  text-align: right;
}
section{
  margin-left:$left-panel-width+10px;
  @media screen and (max-width: $break-small) {
    float:none;
    margin:10px;
  }
  h2{
    font-size:14px;
    color:$primary-color;
    padding:20px 30px;
    @media screen and (max-width: $break-small) {
      padding:10px 10px;
    }
    @media screen and (max-width: $break-large) {
      padding:10px 10px;
    }

  }
  h2.dashboard-title i{
    font-size:24px;
    margin-right:5px;
  }
  h2.todoList {
    font-size:28px;
    color:#555555;
    text-align: center;
  }
  .comment {
    text-align: center;
    font-size:12px;
    color:#a7a7a7;
  }
}
section.nopanel{margin-left:10px;}
.panel-white {
  padding:17px 0px 18px 0px;
  background: #FFFFFF;
  border:1px solid #dbdbdb;

  .dash-box {
    width:25%;
    @include border-radius(3px);
    display: table-cell;
    @media screen and (max-width: 650px) {
      display: inline-block;
      width: 45%;
      margin: 2%;
    }
    @media screen and (max-width: $break-small) {
      display: block;
      width: auto;
      margin: 10px;
    }
    h3 {
      padding:$st-margin $st-margin 0px;
      font-size:14px;
      text-transform: uppercase;
      @media screen and (max-width: $break-small) {
        padding:5px 5px 0px
      }
      @media screen and (max-width: $break-large) {
        padding:5px 5px 0px
      }
    }
    span {
      padding:0px 13px 5px;
      margin:0px 2px;
      font-size:20px;
      border-bottom:1px solid #175a6b;
      position:relative;
      z-index:10;
      color:#f9f9f9;
      @media screen and (max-width: $break-small) {
        padding:0px 5px 5px
      }
      @media screen and (max-width: $break-large) {
        padding:0px 5px 5px
      }
    }
    span:before {
      content:"";
      display:block;
      position:absolute;
      z-index:-1;
      left:0px;
      bottom:-1px;
      border-bottom:1px solid #f9f9f9;
      width:70px;
    }
    a{
      padding:4px $st-margin;
      @media screen and (max-width: $break-small) {
        padding:5px 5px;
      }
      @media screen and (max-width: $break-large) {
        padding:5px 5px;
      }
    }
  }
  .dash-box > * {
    display:block;
  }
  .dash-box.new-book {
    background-color: #6dadbd;

    h3,a {
      color:#a7dfed;}
  }
  .dash-box.profit {
    background-color: #348fe2;

    h3,a {
      color:#9dc9f1;}
  }
  .dash-box.visitors {
    background-color: #857198;

    h3,a {
      color:#bfa9d4;}
  }
  .dash-box.page-views {
    background-color: #4d7496;

    h3,a {
      color:#88b4da;}
  }
}
.fileUpload {
  .result-upload {
    background: #49bf67;
  }
  .progress {
    max-width:235px;
    @include border-radius(5px);
  }
  > div{
    font-size:12px;
    padding:6px 25px 7px;
    border-bottom: 1px solid #dbdbdb;
    position:relative;

    span {
      font-size:10px;
      display: block;
      margin:5px 0px
    }
    i {
      position:absolute;
      font-size:14px;
      top:8px;
      left:8px;
    }

  }
  > div:last-child{
    border-bottom:0px;
  }
}
.browsersInfo {
  table {
    width:100%;
    font-size:12px;
    border-collapse: collapse;
    border-style: hidden;
    th, td {
      border: 1px solid #dbdbdb;
      padding:3px;
      text-align: center;
    }
    th{
      padding:4px;
    }


  }
}
.TechSupport{
   td{
    padding:5px;
    border-bottom:1px solid #dbdbdb;
    font-size:12px;
    line-height:12px;
    min-height:40px;
     position:relative;

    img{
      width:30px;
      height:30px;
      @include border-radius(50%);
      display: inline-block;
      vertical-align: top;
      float:left;
    }
    span  {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right:5px;
    @include border-radius(5px);
      position:absolute;
      top:3px;
      right:3px;
      border:2px solid #FFFFFF;

    }
  }
  a.reply_support
  {
    color:#a2a2a2;
    position: absolute;
    right:17px;
    bottom:2px;
    font-size:12px;
  }
   a.delete_support
   {
     color:#a2a2a2;
     position: absolute;
     right:4px;
     bottom:2px;
     font-size:12px;
   }
  tr a{
    display: none;
  }
  tr:hover{
    background-color:#f9f9f9;

    a{
      display: inline-block;
    }
  }

  tr:last-child td{
    border-bottom:0px;
  }
}
.panel-collapse {
  padding: 15px 0px;
  position: relative;

  .show-table {
    display: table-cell;
    @media screen and (max-width: $break-small) {
      display: block;
      margin-bottom:10px;
    }
    @media screen and (max-width: $break-large) {
      display: block;
      margin-bottom:10px;
    }
  }
  .show-table3 {
    width: 33.3%;
    @media screen and (max-width: $break-small) {
      width: auto;
    }
    @media screen and (max-width: $break-large) {
      width: auto;
    }
  }
}
  .panel-block {
    min-width:125px;
    @include border-radius(3px);
    border:$collapse-panel-border;
    background:#FFFFFF;
  }
  .panel-header {
    padding:5px 10px;
    border-bottom:$collapse-panel-border;

    a {
      color:$primary-color;
      margin-left:3px;
      font-size:11px;
      margin-top:3px;
      font-weight:100;
    }
  }
  .panel-content {
    min-height:130px;

  }

.table-view {
  display: table;
  border-spacing:$border-spacing-normal 0px;
  width:100%;
  @media screen and (max-width: $break-small) {
    border-spacing:$border-spacing-sm 0px;
  }
  @media screen and (max-width: $break-large) {
    border-spacing:$border-spacing-sm 0px;
  }
}

.half-size
{
  display: inline-block;
  width:49%;
  vertical-align: top;
  @media screen and (max-width: $break-small) {
    display: block;
    width:auto;
  }
  @media screen and (max-width: $break-large) {
    display: block;
    width:auto;
  }
}
.chart-visitors{
  margin:0px $border-spacing-normal 40px;
  .panel-white{padding:0px;}

  @media screen and (max-width: $break-small) {
    margin:0px $border-spacing-sm 10px;
  }
  @media screen and (max-width: $break-large) {
    margin:0px $border-spacing-sm 10px;
  }
}
.chart-block{
  width:100%;
  height:320px;
  @media screen and (max-width: $break-small) {
    height:220px;
  }
  @media screen and (max-width: $break-large) {
    height:220px;
  }
}
.chart-traffic {
  width:100%;
  height:320px;
  @media screen and (max-width: $break-small) {
    height:220px;
  }
  @media screen and (max-width: $break-large) {
    height:220px;
  }
}
.calendar {
  margin:20px $border-spacing-normal 0px;
  @media screen and (max-width: $break-small) {
    margin:10px $border-spacing-sm 0px;
  }
  @media screen and (max-width: $break-large) {
    margin:10px $border-spacing-sm 0px;
  }
  .fc-view-container {
    background:#FFFFFF;
  }
  .fc-widget-header table, .fc-widget-header table th, .fc-head table, .fc-head{
    border:0px;
  }
  .fc-today{
    background:#fc8974;
  }
  .fc-day-grid-event{margin-top:0px;margin-bottom:1px;}
  .fc-event {background: #ced2de;border-color:#ced2de;color:$primary-color}
  .fc-body, .fc-body > td.fc-widget-content {border-top:0px;}
  .fc-head, td.fc-widget-header {border-bottom:0px;}
  .fc-toolbar {
    margin:0px;
    background:#f9f9f9;
    border:1px solid #ddd;
    border-bottom:0px;
    h2{
      padding:15px;
      font-weight:bold;
    }
    .fc-button-group {
      margin-top:3px;
    }
    .fc-button {background:transparent;border:0px;box-shadow: none;color:#cbcdd9;font-weight:bold;font-size:18px;padding:0px 5px;}
    .fc-button:hover{color:#818288}
  }
  .fc-bg table{
    border-collapse: separate;
    border-spacing: 2px;
  }
  .fc-day-header {color:#00acec;padding:5px 0px 5px 5px; }
  .fc-content-skeleton table{
    border-collapse: separate;
    border-spacing: 2px 0px;
  }
  .fc-basic-view td.fc-day-number, .fc-basic-view td.fc-week-number span
  {
    padding:2px;
  }
}
.DayImportant{
  margin:0px 30px 40px;
  @media screen and (max-width: $break-small) {
    margin:0px $border-spacing-sm 10px;
  }
  @media screen and (max-width: $break-large) {
    margin:0px $border-spacing-sm 10px;
  }
  background:#ca5d56;
  padding:10px;
  div{
    clear:both;
    color:#FFFFFF;

  span{
    float:right;
  }
  }
}
.todolist {

    margin:20px 30px 0px;
  @media screen and (max-width: $break-small) {
    margin:10px $border-spacing-sm 40px;
  }
  @media screen and (max-width: $break-large) {
    margin:10px $border-spacing-sm 40px;
  }
    .todoitems {
      border:1px solid #d4d4d4;
      border-top:0px;
      background: #FFFFFF;


      p{
        padding:8px 20px;
        margin:0px;
        color:#e66454;
      }
      .today{

      }
      .important-item{
        background:#ffd5d5;
      }

      .day-item
      {
        padding:11px 20px;
        border-bottom:1px solid #d4d4d4;
        border-left:2px solid transparent;
        .important{
          float:right;
          font-size:18px;
          color:#dedede;
          cursor: pointer;
          margin-top:6px;
        }
        .is-important
        {
          color:red;
        }
      }
      .day-item:hover{
        background:#f9f9f9;
        border-left:2px solid $darkbg-color;
      }
      .important-item:hover
      {
        background:#ffe5e5;
      }
      .todoProgress {
        display:inline-block;
        font-size:20px;
        color:#dedede;
        width:20px;
        vertical-align: middle;
      }
    }

    .addnewItem {
      position:relative;
      input {
        width:100%;
        height:45px;
        padding:0px 55px 0px 1%;
        border:1px solid #d4d4d4;
      }
      button{
        background:#49bf67;
        border:0px;
        text-align:center;
        color:#FFFFFF;
        position:absolute;
        top:0px;
        right:0px;
        height:45px;
        width:50px;
      }

    }


}