@import "_variables";

article, section, aside, hgroup, nav, header, footer, figure, figcaption {
  display: block;
}
html {
  color: $primary-color;
  font-family: $font-regular;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

}
body {
  margin: 0;
  background:#ececec;
  font-family: $font-regular;
}
a:active,
a:hover {
  outline: 0;
}
aside
{
  width:$left-panel-width;
}
h1, h2, h3, h4 {
  margin:0px;
}
.is-left {
  float:left;
}
header {
  background:#4d7496;
}
.header-logo {
  border-right: 1px solid #3d5c78;
}
.header-logo {
  h1 {
    font-family: $font-spec;
    color: $top-color;
    font-size:18px;
  }
}

