<div class="quickAdd-panel">
    <div class="row">
        <label class="title">Search and add Account/Contact to target list</label>
        <div class="filter">
            <ui-select ng-model="contactList.selected" on-select="vm.onSelectContactCallback($item, $model)" theme="select2" style="width: 500px;" title="Select and add Account/Contact">
                <ui-select-match placeholder="Select and add Account/Contact">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="item in contactList | filter: $select.search" class="contacts-add">
                    <div><div ng-bind-html="item.name | highlight: $select.search"></div></div>
                    <div><div ng-bind-html="item.account | highlight: $select.search"></div></div>
                    <div><div><button class="btn btn-sm btn-success"><i class="fa fa-plus"></i> Add</button></div></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
</div>
<div class="pre-grid">
    <div class="row">
        <div class="col-md-4" style="padding-top: 5px;">
            <input type="checkbox" class="ipreo-checkbox" ng-model="vm.selectall.value" ng-click="vm.toggleAll()" id="select-all">
            <label for="select-all" class="ipreo-checkbox-label">Select all</label>
            <div class="action-btns">
                <a href="" ng-click="vm.deleteSelected()"><i class="fa fa-trash"></i> Delete</a>
                <div uib-dropdown >
                    <a uib-dropdown-toggle><i class="fa fa-bar-chart" aria-hidden="true"></i> Set Priority</a>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                       <li ng-repeat="item in vm.gridOptions.columnDefs[8].editDropdownOptionsArray" ng-click="vm.setBulkPriority('{{item}}')"><a>{{item}}</a></li>
                    </ul>
                </div>
                <div uib-dropdown >
                    <a uib-dropdown-toggle><i class="fa fa-check" aria-hidden="true"></i> Set Status</a>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                        <li ng-repeat="item in vm.gridOptions.columnDefs[13].editDropdownOptionsArray" ng-click="vm.setBulkStatus('{{item}}')"><a>{{item}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-8 text-right">
            <label>Filters: </label>
            <div class="filter">
                <input type="text" class="form-control" placeholder="Filter Contact name" ng-model="vm.filterValue" >
            </div>
            <div class="filter">
                <ui-select ng-model="vm.statuses.selected" on-select="vm.onSelectStatusCallback($item, $model)" theme="selectize" style="width: 120px;" title="Choose status">
                    <ui-select-match placeholder="Filter by Status">{{$select.selected}}</ui-select-match>
                    <ui-select-choices repeat="item in vm.statuses | filter: $select.search">
                        <div ng-bind-html="item | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="filter">
                <ui-select ng-model="vm.targetsPriority.selected" on-select="vm.onSelectPriorityCallback($item, $model)" theme="selectize" style="width: 120px;" title="Choose priority">
                    <ui-select-match placeholder="Filter by Priority">{{$select.selected}}</ui-select-match>
                    <ui-select-choices repeat="item in vm.targetsPriority | filter: $select.search">
                        <div ng-bind-html="item | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="filter">
                <ui-select ng-model="locations.selected" on-select="vm.onSelectCityCallback($item, $model)" theme="selectize" style="width: 120px;" title="Choose city">
                    <ui-select-match placeholder="Filter by City">{{$select.selected}}</ui-select-match>
                    <ui-select-choices repeat="item in locations | filter: $select.search">
                        <div ng-bind-html="item | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
</div>

<div id="grid" ui-grid="vm.gridOptions"  ui-grid-save-state
     ui-grid-auto-resize
     ui-grid-resize-columns
     ui-grid-move-columns ui-grid-edit style="height: auto"></div>

<div class="popup" ng-show="vm.showpopup">
    <div class="popup-item">
        <div class="popup-header"><button type="button" class="ipreo-modal-close" ng-click="vm.showpopup=false">
            <span aria-hidden="true">×</span>
        </button>
            <h2 class="ipreo-modal-title">Add Request to <span>{{vm.item.name}}</span></h2></div>
        <div class="popup-body">
            <img src="data/addRequest.png"/>
        </div>
        <div class="popup-footer">
            <button class="btn btn-default" ng-click="vm.showpopup=false">Cancel</button>
            <button class="btn btn-success add-request" ng-click="vm.addRequest(vm.item)">Add Request</button>
        </div>
    </div>
    <div class="shadow"></div>
</div>