@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
*, *:before, *:after {
  box-sizing: border-box; }

.wrap {
  max-width: 1490px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 20px; }
  .wrap:after {
    content: " ";
    display: block;
    clear: both; }

.block-wide {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }

.block-left, .block-right {
  width: 49.36709%;
  float: left;
  margin-right: 1.26582%; }
  @media screen and (max-width: 540px) {
    .block-left, .block-right {
      float: none;
      width: 100%;
      margin: 0px; } }

.block-right {
  float: right;
  margin-right: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

.wrap {
  max-width: 1490px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 20px; }
  .wrap:after {
    content: " ";
    display: block;
    clear: both; }

.block-wide {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }

.block-left, .block-right {
  width: 49.36709%;
  float: left;
  margin-right: 1.26582%; }
  @media screen and (max-width: 540px) {
    .block-left, .block-right {
      float: none;
      width: 100%;
      margin: 0px; } }

.block-right {
  float: right;
  margin-right: 0; }

article, section, aside, nav, header, footer, figure, figcaption {
  display: block; }

html {
  color: #241c18;
  font-family: "Lora", Myriad Pro, serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 16px; }

body {
  margin: 0;
  background: #f8f8f8;
  font-family: "Lora", Myriad Pro, serif; }

a:active,
a:hover {
  outline: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

h1, h2, h3, h4 {
  margin: 0px; }

.is-left {
  float: left; }

.is-right {
  float: right; }

header {
  background-image: url(../images/topBg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 50vw; }
  @media screen and (max-width: 540px) {
    header {
      min-height: 200px; } }
  header .wrap {
    padding: 70px 20px;
    position: relative;
    height: 48vw; }
    @media screen and (max-width: 540px) {
      header .wrap {
        padding: 0px 20px;
        min-height: 200px; } }
    @media screen and (max-width: 980px) {
      header .wrap {
        padding: 10px 20px; } }
  header h1 {
    position: absolute;
    right: 3.4%;
    top: 40%;
    font-size: 5.556em;
    font-size: 5vw;
    line-height: 1.1em;
    font-family: "Oswald", Myriad Pro, serif;
    width: 26.96629%;
    float: left;
    margin-right: 1.1236%;
    text-transform: uppercase;
    text-align: center; }
    header h1 span {
      color: #e4dddb;
      display: block; }
  header nav ul {
    list-style: none;
    margin: 0px;
    padding: 0px; }
    header nav ul li {
      display: inline-block; }
      @media screen and (max-width: 540px) {
        header nav ul li {
          display: block;
          position: relative; } }
      header nav ul li:after {
        content: " ";
        display: inline-block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        margin: 0px 5px;
        background: #826b60;
        vertical-align: middle; }
        @media screen and (max-width: 540px) {
          header nav ul li:after {
            position: absolute;
            left: -10px;
            top: 8px; } }
      header nav ul li a {
        font-size: 1em;
        display: inline-block;
        text-transform: uppercase;
        color: #241c18;
        font-weight: bold;
        text-decoration: none;
        vertical-align: middle;
        padding: 15px 5px; }
        @media screen and (max-width: 540px) {
          header nav ul li a {
            padding: 0px 5px 15px; } }
      header nav ul li.active a {
        background: url(../images/activeMenu.png) bottom center no-repeat; }

.slides {
  position: relative;
  padding: 5vw 50px 0px;
  height: 50vw; }
  @media screen and (max-width: 980px) {
    .slides {
      padding: 50px 20px 0px; } }
  @media screen and (max-width: 540px) {
    .slides {
      height: auto;
      overflow: auto;
      padding: 20px; } }
  .slides .slidesjs-container, .slides .slidesjs-control {
    height: 100% !important; }
    @media screen and (max-width: 540px) {
      .slides .slidesjs-container, .slides .slidesjs-control {
        height: auto;
        overflow: auto !important; } }
  @media screen and (max-width: 540px) {
    .slides .slidesjs-slide {
      position: static !important;
      clear: both;
      display: block !important; } }
  .slides .slidesjs-pagination {
    position: absolute;
    top: 5vw;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    right: 20%;
    list-style: none;
    margin: 0px;
    padding: 0px; }
    @media screen and (max-width: 1450px) {
      .slides .slidesjs-pagination {
        top: 0px; } }
    @media screen and (max-width: 980px) {
      .slides .slidesjs-pagination {
        display: none; } }
    .slides .slidesjs-pagination li {
      padding: 10px;
      text-align: right; }
      .slides .slidesjs-pagination li a {
        color: #e4dddb;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold; }
        .slides .slidesjs-pagination li a span {
          display: inline-block;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          margin: 0px 8px;
          background: #e4dddb;
          vertical-align: middle; }
        .slides .slidesjs-pagination li a i {
          width: 100px;
          display: inline-block;
          text-align: left; }
        .slides .slidesjs-pagination li a.active {
          color: #826b60; }
          .slides .slidesjs-pagination li a.active span {
            background: #826b60; }
  .slides .slidesjs-navigation {
    display: block;
    position: absolute;
    border-top: 5px solid #826b60;
    border-left: 5px solid #826b60;
    width: 65px;
    height: 65px;
    border-radius: 3px; }
    @media screen and (max-width: 540px) {
      .slides .slidesjs-navigation {
        display: none; } }
    .slides .slidesjs-navigation.slidesjs-previous {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 35%;
      margin-top: -20px;
      left: 15px;
      z-index: 10; }
    .slides .slidesjs-navigation.slidesjs-next {
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg);
      top: 35%;
      margin-top: -20px;
      right: 15px;
      z-index: 15; }

.about {
  width: 100%;
  background: #f1efed;
  /* Old browsers */
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1efed), color-stop(100%, #efecea));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f1efed 0%, #efecea 100%);
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: linear-gradient(to bottom, #f1efed 0%, #efecea 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */ }
  .about .block-wide {
    padding-top: 20px;
    position: relative; }
    .about .block-wide h3 {
      font-family: "Oswald", Myriad Pro, serif;
      font-size: 2em;
      position: absolute;
      top: 47%;
      right: 22%;
      font-weight: normal; }
      @media screen and (max-width: 1450px) {
        .about .block-wide h3 {
          top: 44%; } }
      @media screen and (max-width: 980px) {
        .about .block-wide h3 {
          top: 20px;
          right: 18%; } }
      @media screen and (max-width: 540px) {
        .about .block-wide h3 {
          position: static;
          text-align: center; } }
    .about .block-wide .band > div {
      position: relative; }
      .about .block-wide .band > div img {
        height: 45vw;
        width: auto; }
      @media screen and (max-width: 540px) {
        .about .block-wide .band > div {
          float: none;
          width: 100%; } }
      .about .block-wide .band > div h2 {
        position: absolute;
        bottom: 10%;
        right: 10%;
        font-size: 5.556em;
        font-size: 5vw;
        line-height: 1.1em;
        font-family: "Oswald", Myriad Pro, serif;
        text-align: center; }
        .about .block-wide .band > div h2 span {
          color: #826b60;
          display: block; }
      .about .block-wide .band > div.block-right {
        padding-top: 21vw;
        padding-left: 6%; }
        @media screen and (max-width: 1450px) {
          .about .block-wide .band > div.block-right {
            padding-top: 19vw;
            padding-left: 20px; } }
        @media screen and (max-width: 980px) {
          .about .block-wide .band > div.block-right {
            padding-top: 10px;
            padding-left: 0px; } }
        .about .block-wide .band > div.block-right p {
          width: 88.76404%;
          float: left;
          margin-right: 1.1236%;
          line-height: 2em; }
          @media screen and (max-width: 1450px) {
            .about .block-wide .band > div.block-right p {
              line-height: 1.5em; } }
          @media screen and (max-width: 980px) {
            .about .block-wide .band > div.block-right p {
              line-height: 1.4em;
              font-size: 1em; } }

.music {
  min-height: 48vw;
  padding-bottom: 50px; }
  .music .block-right {
    padding-left: 6%; }
  @media screen and (max-width: 980px) {
    .music .block-right, .music .block-left {
      float: none;
      width: 100%;
      margin: 0px; }
    .music .block-left {
      padding-left: 6%; } }
  .music .albumCover {
    margin-left: -15%; }
    .music .albumCover img {
      width: 100%;
      margin-top: 5vw; }
  .music h3 {
    font-family: "Oswald", Myriad Pro, serif;
    font-size: 2em;
    margin-top: 3vw;
    font-weight: normal; }
  .music h4 {
    font-family: "Oswald", Myriad Pro, serif;
    font-size: 1.7em;
    margin-top: 3vw;
    font-weight: lighter; }
  .music .discsList {
    font-family: "Oswald", Myriad Pro, serif;
    font-size: 1.60em;
    font-weight: lighter;
    margin-top: 20px; }
    @media screen and (max-width: 540px) {
      .music .discsList {
        font-size: 1.2em;
        margin-top: 0px; } }
    @media screen and (max-width: 980px) {
      .music .discsList {
        margin-top: 0px; } }
    .music .discsList > div {
      padding: 10px 0px;
      display: table;
      width: 100%;
      max-width: 600px; }
      .music .discsList > div span {
        display: table-cell;
        vertical-align: bottom; }
        .music .discsList > div span:first-child {
          min-width: 220px;
          position: relative; }
          @media screen and (max-width: 540px) {
            .music .discsList > div span:first-child {
              min-width: 160px; } }
          .music .discsList > div span:first-child:after {
            content: " ";
            display: inline-block;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            margin: 0px 5px;
            position: absolute;
            left: 210px;
            top: 15px;
            background: #e4dddb;
            vertical-align: middle; }
            @media screen and (max-width: 540px) {
              .music .discsList > div span:first-child:after {
                display: none; } }
        .music .discsList > div span a {
          display: inline-block;
          margin-left: 25px;
          padding: 3px 0px;
          width: 70px;
          text-align: center;
          text-transform: uppercase;
          font-size: 0.65em;
          text-decoration: none;
          vertical-align: top; }
          .music .discsList > div span a.listen {
            background: #e4dddb;
            color: #826b60;
            font-family: "Oswald", Myriad Pro, serif;
            margin-left: 75px; }
            @media screen and (max-width: 1150px) {
              .music .discsList > div span a.listen {
                margin-left: 25px; } }
            @media screen and (max-width: 540px) {
              .music .discsList > div span a.listen {
                margin-left: 5px;
                width: 40px; } }
          .music .discsList > div span a.buy {
            background: #826b60;
            color: #f8f8f8;
            font-family: "Oswald", Myriad Pro, serif; }
            @media screen and (max-width: 540px) {
              .music .discsList > div span a.buy {
                margin-left: 5px;
                width: 40px; } }
  .music .discAudioList {
    width: 88.76404%;
    float: left;
    margin-right: 1.1236%; }
    @media screen and (max-width: 540px) {
      .music .discAudioList {
        width: 100%;
        float: none; } }
    .music .discAudioList > div {
      margin-top: 30px; }
      @media screen and (max-width: 540px) {
        .music .discAudioList > div {
          margin-top: 0px; } }
      @media screen and (max-width: 980px) {
        .music .discAudioList > div {
          margin-top: 0px; } }
    .music .discAudioList .audioitem {
      font-style: italic;
      color: #826b60;
      font-family: "Lora", Myriad Pro, serif;
      padding: 3px 0px;
      display: table;
      width: 90%;
      font-size: 0.95em; }
      .music .discAudioList .audioitem span {
        display: table-cell; }
        .music .discAudioList .audioitem span:first-child {
          white-space: nowrap; }
          .music .discAudioList .audioitem span:first-child:before {
            content: " ";
            display: inline-block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 7px 0 7px 10px;
            border-color: transparent transparent transparent #e4dddb;
            margin-right: 12px; }
      .music .discAudioList .audioitem.current span:first-child:before {
        border-color: transparent transparent transparent #826b60; }
      .music .discAudioList .audioitem .line {
        border-bottom: 1px dotted #826b60;
        width: 20%; }
      .music .discAudioList .audioitem .time {
        width: 50px;
        text-align: right; }
  .music .player {
    width: 88.76404%;
    float: left;
    margin-right: 1.1236%;
    margin-bottom: 40px; }
    @media screen and (max-width: 540px) {
      .music .player {
        width: 100%;
        float: none; } }
    .music .player h3 {
      margin-top: 5vw; }
    .music .player h4 {
      margin-top: 1vw; }
    .music .player .file {
      font-style: italic;
      color: #826b60;
      font-family: "Lora", Myriad Pro, serif;
      padding: 10px 0px; }
    .music .player #progressBar {
      background: #ab9c95;
      width: 90%;
      height: 6px;
      border-radius: 12px;
      position: relative;
      margin-top: 20px;
      cursor: pointer; }
    .music .player #progress {
      background-color: #e4dddb;
      height: 6px;
      display: inline-block;
      border-radius: 12px;
      position: absolute;
      top: 0px; }
    .music .player #pointProgress {
      width: 27px;
      height: 27px;
      display: block;
      position: absolute;
      background: #826b60;
      border-radius: 50%;
      top: -12px;
      margin-left: -12px; }
    .music .player .btnsPlayer {
      text-align: center;
      width: 90%; }
    .music .player button {
      background: transparent;
      border: 0px;
      margin: 20px;
      width: 40px;
      cursor: pointer; }
      .music .player button i {
        font-size: 40px;
        color: #e4dddb; }
      .music .player button:focus {
        outline: none; }

.tours {
  background: #f1eeed; }
  .tours h3 {
    font-family: "Oswald", Myriad Pro, serif;
    font-size: 2em;
    padding-top: 3vw;
    font-weight: normal;
    text-align: center; }
  .tours .tours-slider {
    width: 400px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    margin: auto;
    margin-top: -200px; }
    @media screen and (max-width: 980px) {
      .tours .tours-slider {
        width: 400px;
        margin-top: -40px; } }
    @media screen and (max-width: 540px) {
      .tours .tours-slider {
        width: 320px;
        margin-top: 20px; } }
    .tours .tours-slider .slider-base {
      position: absolute;
      top: 0px;
      right: 11px;
      background: #e4dddb;
      height: 100%;
      width: 3px;
      z-index: 0; }
    .tours .tours-slider .slider-concerts {
      z-index: 10;
      position: relative;
      padding: 50px 0px; }
      @media screen and (max-width: 980px) {
        .tours .tours-slider .slider-concerts {
          padding: 15px 0px; } }
      @media screen and (max-width: 540px) {
        .tours .tours-slider .slider-concerts {
          padding: 2px 0px; } }
      .tours .tours-slider .slider-concerts > div {
        z-index: 10;
        margin: 25px 0px;
        color: #826b60;
        font-size: 16px;
        text-transform: uppercase;
        font-family: "Lora", Myriad Pro, serif;
        text-align: right;
        font-weight: bold; }
        @media screen and (max-width: 980px) {
          .tours .tours-slider .slider-concerts > div {
            margin: 12px 0px;
            line-height: 14px; } }
        @media screen and (max-width: 540px) {
          .tours .tours-slider .slider-concerts > div {
            font-size: 11px;
            margin: 2px 0px;
            line-height: 12px; } }
        .tours .tours-slider .slider-concerts > div i {
          float: right;
          display: block;
          border-radius: 50%;
          margin: 12px 5px 5px 25px;
          background: #826b60;
          vertical-align: middle;
          width: 15px;
          height: 15px;
          z-index: 15; }
          @media screen and (max-width: 540px) {
            .tours .tours-slider .slider-concerts > div i {
              margin: 7px 5px 2px 15px; } }
        .tours .tours-slider .slider-concerts > div.passed {
          color: #e4dddb; }
          .tours .tours-slider .slider-concerts > div.passed i {
            background: #e4dddb; }
        .tours .tours-slider .slider-concerts > div.today {
          color: #241c18; }
          .tours .tours-slider .slider-concerts > div.today i {
            background: #241c18; }
  .tours .tickets {
    width: 80%;
    float: none;
    margin: -200px auto 0px;
    padding-bottom: 50px; }
    @media screen and (max-width: 980px) {
      .tours .tickets {
        width: 95%; } }
    @media screen and (max-width: 540px) {
      .tours .tickets {
        margin-top: 0px; } }
    .tours .tickets > div {
      height: 275px;
      overflow-y: auto; }
      @media screen and (max-width: 540px) {
        .tours .tickets > div {
          height: auto; } }
      .tours .tickets > div .concert-item {
        font-size: 30px;
        font-weight: lighter;
        font-family: "Oswald", Myriad Pro, serif;
        padding: 21px 25px;
        border-bottom: 1px dotted #241c18; }
        @media screen and (max-width: 980px) {
          .tours .tickets > div .concert-item {
            font-size: 20px; } }
        .tours .tickets > div .concert-item a {
          display: inline-block;
          padding: 3px 15px;
          vertical-align: middle;
          float: right;
          text-align: center;
          text-transform: uppercase;
          font-size: 0.65em;
          text-decoration: none;
          background: #826b60;
          color: #f8f8f8;
          font-family: "Oswald", Myriad Pro, serif; }
          @media screen and (max-width: 540px) {
            .tours .tickets > div .concert-item a {
              float: none;
              width: 100%; } }
        .tours .tickets > div .concert-item span {
          vertical-align: middle;
          color: #241c18;
          font-size: 23px;
          font-family: "Oswald", Myriad Pro, serif;
          font-weight: bold;
          width: 120px;
          line-height: 45px;
          display: block;
          margin-right: 20px;
          float: left; }
          .tours .tickets > div .concert-item span i {
            display: inline-block;
            font-size: 45px;
            padding-right: 10px;
            font-style: normal;
            vertical-align: top;
            float: left; }
          .tours .tickets > div .concert-item span b {
            display: inline-block;
            font-size: 21px;
            line-height: 21px;
            float: right;
            vertical-align: top;
            text-transform: uppercase;
            border-right: 7px solid #e4dddb;
            width: 62px;
            padding-right: 12px; }

.contact {
  background-image: url(../images/bottomBg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%; }
  @media screen and (max-width: 1450px) {
    .contact {
      min-height: 450px; } }
  @media screen and (max-width: 540px) {
    .contact {
      min-height: 300px; } }
  .contact .wrap {
    height: 50vw;
    position: relative; }
    @media screen and (max-width: 1450px) {
      .contact .wrap {
        min-height: 480px; } }
    @media screen and (max-width: 540px) {
      .contact .wrap {
        min-height: 300px; } }
  .contact .contact-form {
    padding-top: 5vw; }
  .contact h3 {
    font-size: 80px;
    color: #241c18;
    text-align: center;
    font-family: "Oswald", Myriad Pro, serif;
    font-weight: bold;
    text-transform: uppercase; }
    @media screen and (max-width: 1450px) {
      .contact h3 {
        font-size: 60px; } }
    @media screen and (max-width: 540px) {
      .contact h3 {
        font-size: 40px; } }
  .contact .phone-contact {
    font-size: 72px;
    color: #e4dddb;
    text-align: center;
    font-family: "Oswald", Myriad Pro, serif;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 80px;
    letter-spacing: 5px; }
    @media screen and (max-width: 1450px) {
      .contact .phone-contact {
        font-size: 52px;
        letter-spacing: 1px; } }
    @media screen and (max-width: 540px) {
      .contact .phone-contact {
        font-size: 32px;
        letter-spacing: 1px;
        line-height: 50px; } }
  .contact .subscribe-contact {
    width: 52%;
    padding: 40px 0px;
    border-top: 1px dotted #e4dddb;
    margin: 30px auto;
    min-width: 480px;
    text-align: center; }
    @media screen and (max-width: 540px) {
      .contact .subscribe-contact {
        min-width: 280px;
        padding: 20px 0px;
        margin: 15px auto; } }
    .contact .subscribe-contact form {
      border: 5px solid #241c18;
      display: inline-block;
      vertical-align: middle; }
      .contact .subscribe-contact form button {
        background: #241c18;
        color: #e4dddb;
        padding: 0px 25px;
        text-transform: uppercase;
        font-size: 36px;
        border: 0px;
        font-family: "Oswald", Myriad Pro, serif;
        line-height: 46px;
        vertical-align: middle; }
        @media screen and (max-width: 1450px) {
          .contact .subscribe-contact form button {
            font-size: 30px; } }
        @media screen and (max-width: 540px) {
          .contact .subscribe-contact form button {
            font-size: 18px;
            line-height: 30px; } }
      .contact .subscribe-contact form input {
        height: 45px;
        vertical-align: middle;
        background: transparent;
        border: 0px;
        width: 290px;
        font-size: 36px;
        color: #e4dddb; }
        @media screen and (max-width: 1450px) {
          .contact .subscribe-contact form input {
            width: 200px;
            font-size: 30px; } }
        @media screen and (max-width: 540px) {
          .contact .subscribe-contact form input {
            font-size: 18px;
            width: 130px;
            height: 30px; } }
    .contact .subscribe-contact .social {
      display: inline-block;
      vertical-align: middle;
      padding-left: 30px;
      text-align: center;
      margin: auto; }
      @media screen and (max-width: 1450px) {
        .contact .subscribe-contact .social {
          padding-left: 10px; } }
      .contact .subscribe-contact .social a {
        font-size: 58px;
        color: #241c18;
        font-weight: bold;
        display: inline-block;
        margin: 0px 10px; }
        @media screen and (max-width: 980px) {
          .contact .subscribe-contact .social a {
            font-size: 48px;
            margin-top: 5px; } }
        @media screen and (max-width: 540px) {
          .contact .subscribe-contact .social a {
            font-size: 38px;
            margin-top: 5px; } }
  .contact footer {
    position: absolute;
    bottom: 50px;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin: 0px -20px; }
    @media screen and (max-width: 1450px) {
      .contact footer {
        bottom: 20px; } }
    @media screen and (max-width: 540px) {
      .contact footer {
        bottom: 0px; } }
    .contact footer > div {
      padding: 0px 20px; }
      @media screen and (max-width: 980px) {
        .contact footer > div {
          float: none;
          width: auto;
          display: block;
          text-align: center; } }
    .contact footer .copyright {
      color: #e4dddb;
      font-size: 1em;
      margin: 20px 0px;
      text-transform: uppercase; }
      @media screen and (max-width: 1450px) {
        .contact footer .copyright {
          margin: 10px 0px; } }
      @media screen and (max-width: 980px) {
        .contact footer .copyright {
          margin: 5px 0px; } }
      @media screen and (max-width: 540px) {
        .contact footer .copyright {
          margin: 15px 0px 0px; } }
    .contact footer nav {
      float: right; }
      @media screen and (max-width: 980px) {
        .contact footer nav {
          float: none; } }
      @media screen and (max-width: 540px) {
        .contact footer nav {
          display: none; } }
      .contact footer nav ul {
        list-style: none;
        margin: 0px;
        padding: 0px; }
        .contact footer nav ul li {
          display: inline-block; }
          @media screen and (max-width: 540px) {
            .contact footer nav ul li {
              display: block;
              position: relative; } }
          .contact footer nav ul li:after {
            content: " ";
            display: inline-block;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            margin: 0px 5px;
            background: #826b60;
            vertical-align: middle; }
            @media screen and (max-width: 540px) {
              .contact footer nav ul li:after {
                position: absolute;
                left: -10px;
                top: 8px; } }
          .contact footer nav ul li a {
            font-size: 1em;
            display: inline-block;
            text-transform: uppercase;
            color: #e4dddb;
            font-weight: bold;
            text-decoration: none;
            vertical-align: middle;
            padding: 15px 5px; }
            @media screen and (max-width: 980px) {
              .contact footer nav ul li a {
                padding: 0px 5px; } }
            @media screen and (max-width: 540px) {
              .contact footer nav ul li a {
                padding: 0px 5px; } }
          .contact footer nav ul li.active a {
            background: url(../images/activeMenu.png) bottom center no-repeat; }
